@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: #3B457B !important;
}

* {
  scroll-behavior: smooth;
}